<style>
  .hidden-content-cat {
    display: none;
  }
  .main-seo-container {
    max-width: 100%;
    background: #6b24b2;
    color: #fff;
  }
  .nt_se_template--15836393341123__dea3c115-48c5-4ec9-929c-06dcf49ddafb.nt_full {
    border-top: 1px solid #ddd;
  }
  .hidden-content-cat ul {
    list-style: none;
  }
  p.read-moree{max-width:100%; width:1350px}
  p.read-lesss {
    text-align: right;
    padding-right: 28px;
    margin-bottom: 0;
    padding-bottom: 14px;
    font-weight: 900;
  }
  .seo-content-cat {
    max-width: 100%;
    width: 1350px;
    margin: 0 auto;
    padding: 20px 0;
    border-top: 1px solid #f4efff;
  }
  .seo-content-cat h2,
  .hidden-content-cat h2 {
    font-size: 20px;
    margin: 0;
    color: #fff
  }
  .hidden-content-cat h3,
  .seo-content-cat h3 {
    font-size: 18px;
    color: #fff
  }
  .hidden-content-cat {
    max-width: 100%;
    width: 1350px;
    margin: -28px auto 0;
  }
  .seo-content-cat h1 {
    text-align: left;
    padding-bottom: 10px;
    font-size: 25px;
    color: #fff
  }
  .seo-content-cat h3,
  .hidden-content-cat H3 {
    font-size: 18px;
    margin-top: 0;
    color: #fff
  }
  .hidden-content-cat a h2 {
    color: #ffcccc;
  }
  .hidden-content-cat a p {
    color: #ffcccc;
  }

  p.read-moree {
    font-size: 15px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 0;
    position:relative;
    
  }
  .seo-content-cat h1 {
    text-align: left;
    padding-bottom: 10px;
    font-size: 25px;
    color: #fff
  }
  p.read-moree::after {
    content: "\2304";
    position: absolute;
    margin-left: 7px;
    transform: rotate(360deg);
    top: -10px;
    font-size: 20px;
}
  @media(max-width:450px) {
    .seo-content-cat {
      padding: 10px;
    }
    .hidden-content-cat {
      padding: 10px;
      margin-top: -29px;
    }
    p.read-lesss {
      margin-left: 10px;
      font-size: 16px;
      margin-top: -9px;
      font-weight: 800;
      color: #fff;
      margin-bottom: 0;
      padding-bottom: 11px;
    }
    p.read-moree {
      font-size: 15px;
      font-weight: 800;
      color: #fff;
      margin-bottom: 0;
      padding-left: 0;
      margin-top: -16px;
    }

  }
</style>
<div class="main-seo-container">
  {% if collection.url contains 'face' %}
    <div class="seo-content-cat">
      <h1>Bombae Face Care</h1>
      <p>Face care products are essential in a woman's journey to self-confidence and self-expression. Taking care of your skin is not just about vanity, it's about cherishing the incredible woman you are. It isn't just about maintaining a glowing appearance. It's about empowering your true self and embracing your natural beauty at every stage of life. Which is why, the Bombae face care range comes into picture.</p>
      <p class="read-moree">Read More</p>
    </div>

    <div class="hidden-content-cat">
      <h3>Designed with your skin in mind</h3>
      <ul>
        Here’s a step-by-step face care regimen you need
        <li>Step 1: Cleanse your face with
          <a href="https://mybombae.in/products/bombae-vitamin-c-facewash">Vitamin C+ Face Wash</a>: Wash away the dirt, dust, sebum, and other impurities from the skin. Add a boost of freshness and radiance on your skin instantly. It rejuvenates skin and restores collagen. At the same time it heals the skin and reduces acne. The best part, it is dermatologically tested to suit all skin types.</li>
        <li>Step 2: Prepare you skin with the
          <a href="https://mybombae.in/products/aloe-turmeric-gel">Bombae Aloe Turmeric Gel</a>: Use it as a base before using a face razor on your face for a smooth glide. Aloe vera has healing properties. Turmeric helps brighten the skin. All this together adds natural glow to the skin.</li>
        <li>Step 3: Time to Glide with our
          <a href="https://mybombae.in/products/precision-face-razor">Bombae Face Razors</a>: Remove dead skin cells, fine hair and debris on your face with our Biodegradable face razor or Precision Face Razor of your choice. No nicks, no cuts, just a smooth shaving experience. Equipped with High-Precision blades with a convenient anti-slip grip.</li>
        <li>Step 4: Moisturise post hair hair removal with Bombae Aloe Turmeric Gel:Soothe your skin with a post Aloe Turmeric gel to restore the moisture lost during the hair removal process. The aloe vera has healing properties while turmeric helps brighten the skin. All this together adds natural glow to the skin.</li>
        <li>Step 5: For your last minute plans use
          <a href="https://mybombae.in/products/eyebrow-and-face-trimmer-magica">4-in-1 Facial Hair Trimmer</a>, A travel friendly trimmer for your eyebrow, upper lip, chin and peach fuzz. Use it for a smooth finish anytime, anywhere.Here’s why you should get it today:No nicks, no cuts just smooth shaving experience. Instantly smooth skin. Super gentle on skin of all types.</li>
      </ul>
      <ul>
        <h3>Frequently Asked Questions</h3>
        <li>Q. How many times in a day can I use vitamin C+ face wash ?<br>
          A. We recommend using the face wash two times a day i.e. morning and night.</li>
        <li>Q. Does hair grow back thicker post shaving?<br>
          A. It is not true that shaving makes your hair grow back thicker. Shaving has no impact on hair growth. Unlike waxing which pulls hair from the roots, a razor cuts the hair from the middle of the growth, and thus it feels like the hair is growing sharper and thicker but it is not the case.</li>
        <li>Q. Which one is better for removing facial hair: a trimmer or a razor?<br>
          A. Ideally both of them serve a different purpose and they are equally effective and designed to minimise the chances of nicks and cuts. For the days when you need a clean look quickly, a trimmer comes in handy while a razor can give you much smoother hair removal experience.
        </li>
      </ul>
    </div>
    <p class="read-lesss" style="display:none">Read less</p>
  {% elsif collection.url contains 'body' %}
    <div class="seo-content-cat">
      <h1>Bombae Body Care</h1>
      <p>Body care is an indispensable part of a  gal’s life. In today’s fast paced world, grooming is a means of caring for yourself. It is a way to pamper yourself while acknowledging your uniqueness. Whether it's shaping your eyebrows with precision, effortlessly removing unwanted hair, or experiencing smooth skin, Bombae has got you covered. A world that’s trying to press unrealistic beauty standards, we embrace your individuality, Bombae’s Body Care products are designed keeping in mind your skin and its needs. Our thoughtfully curated selection of trimmers, body razors, body wax strips, and hair removal creams are designed to elevate your body care routine to a delightful and empowering experience.</p>
    </div>
    <p class="read-moree">Read More</p>
    <div class="hidden-content-cat">
      <a href="https://mybombae.in/products/rollplay-body-razor">
        <h2>Rollplay Body Razor</h2>
      </a>
      India’s only razor for women with a built-in roller powered by Rola-tekTM technology. Designed for sensitive skin for a faster and smoother shaving experience. Multi-use rollerblade that lasts up to 3 months, so no worrying about changing cartridges every now and then. 360 moisture band infused with aloe vera, jojoba oil & vitamin E that add moisture to your skin as you shave. 5 Swedish steep precision blades with platinum coating for the closest and cleanest shaves ever. Ergonomic and eco-friendly anti-slip handle made from recycled ocean plastic that reduces nicks and cuts and also keeps your carbon footprint on the environment in check. It also comes with a magic holder which can be wall mounted to keep your razor dry and rust-free for long.
      <a href="https://mybombae.in/products/fuzzoff-sensitive-areas-trimmer">
        <h2>6-in-1 Sensitive Area Trimmer</h2>
      </a>
      Designed to effortlessly shape your eyebrows and remove upper lip hair, chin hair, peach fuzz, bikini, and underarms. Suitable and gentle on every skin type. The trimmer can be used in the shower and super portable to carry as an add on for any trip. In the box you get 1 precision styler head for face and eyebrows, 1 trimmer head for bikini and underarms, 2 styler combs for length-based styling, 1 cleaning brush, 1 AA alkaline battery, and a pouch to carry it all everywhere. We are so sure about this trimmer that you get 1 YEAR WARRANTY - no questions asked.
      <a href="https://mybombae.in/products/defender-for-her-razor">
        <h2>Defender Body Razor</h2>
      </a>
      Remove the finest hair and reduce uneven hair growth with one stroke. The 3-Optimally spaced blades with FLEXBLADE technology helps you to make longer strokes even in the tricky areas, like knees and elbows. Use effortlessly and glide smoothly on your skin even during showers with an anti-slip grip. When you’re done shaving, place it on the wall with the help of a suction cup to keep it safe from water and rust.
      <a href="https://mybombae.in/products/disposable-body-razor">
        <h2>Disposable Body Razor</h2>
      </a>
      This is something for all the times when you have no time. This Disposable body razor is your friend for those QUICK times to remove the finest hair gently. The attached lubrication strip, enriched with Aloe Vera and Vitamin E, gives you a smooth, irritation-free body hair removal. GO and conquer those tricky curves like knees, elbow, etc with two-way flexi blades effortlessly.
      <a href="https://mybombae.in/products/full-body-wax-strips-i-for-dry-skin">
        <h2>Wax Strips</h2>
      </a>
      Easy and quick to use full body wax strips, enriched with moisturising shea butter, suitable for dry skin. 25% wider strips to remove even the finest hair from larger body surfaces quickly. Dermatologically tested and made to keep your skin moisturised for up to 24 hours, and smooth for up to 28 days. Safe to use and remove short hair from bikini line, underarms, arms and legs. Post-waxing, use coconut enriched soothing wipes for a perfect finish (also included in the pack)
      <a href="https://mybombae.in/products/hrc-pack-of-3">
        <h2>Hair Removal Cream</h2>
      </a>
      No darkening and no drying, just mess-free, smooth hair removal with this hair removal cream. Switch to a smooth skin in just 3-6 minutes. Use the spatula to spread and remove the hair effortlessly from your arms, legs, underarms and bikini line. Enriched with shea butter and soothing aloe vera that moisturises and soothes your skin as you use it. Dermatologically tested and safe to use Hair Removal Cream for Women.

      <h2>Frequently Asked Questions</h2>
      <ul>
        <li>Q. Are there any specific usage instructions for the Hair removal cream?<br>
          A. Yes, users can follow the provided instructions, and we recommend you to go through them thoroughly in order to ace the application and removal process effectively and safely.</li>
        <li>Q. How long does the Rollplay body razor's blade last, and what benefits does Rola-tekTM technology offer than the other razors?<br>
          A. The Rollplay body razor blades can last up to 3 months. Rola-tekTM technology is a unique feature that uses the built-in roller of the razor to provide a faster and smoother shaving experience, while reducing the chances of irritation and discomfort during shaving.
        </li>
        <li>
          Q. What are the side effects of the hair removal creams by Bombae, and is it safe to use on sensitive areas?<br>
          A. Our hair removal cream is dermatologically tested and safe to use on the skin. However, you should always do a patch test before using it on sensitive areas to ensure there are no adverse reactions.
        </li>
        <li>Q. Are there any special instructions or precautions for these body care products during pregnancy or for people with skin conditions?<br>
          A. Since this is highly subjective,the products may work differently on everyone, considering their skin conditions. We advise you to consult a dermatologist before using new products during pregnancy or if you have any specific skin concerns.</li>
      </ul>
    </div>
    <p class="read-lesss" style="display:none">Read Less</p>
  {% elsif page.url contains 'fuzzoff' %}
    <div class="seo-content-cat">
      <h1>Bombae Trimmers</h1>
      <h2>The shave-like feel minus the nicks, cuts, and the oh f**ks!!</h2>
      <p>Curious about trimmers? Let's spill the beans..shall we?
      </p>
    </div>
    <p class="read-moree">Read More</p>
    <div class="hidden-content-cat">
      <p>Grooming is an indispensable part of our lives now. Women often find themselves in the constant battle against unwanted hair every day. This is where trimmers come into the picture, a much-needed solution to hair removal. Trimmers have revolutionized the way women approach hair removal, offering a quick, efficient, and hassle-free solution. They are designed to provide precise control, giving you the freedom to shape your eyebrows, touch up your bikini line, or manage hair growth on various parts of your body such as your arms, legs and underarms in a matter of minutes. With the right knowledge and technique, using trimmers can become a game-changer in your grooming routine. Think about it, hair removal methods like waxing and plucking can be time-consuming, painful, and sometimes frustrating. Trimmers offer a game-changing alternative by simplifying this and making it more convenient. Say goodbye to the inconvenience and discomfort that comes with traditional methods of hair removal.</p>
      <h2>Why Choose Bombae Trimmers</h2>
      <p>Trim, shape, and tame those unruly eyebrows, bikini lines, and pesky facial hair effortlessly. They offer precision, control, and a gentle touch without nicks and cuts. Embrace the convenience of trimmers and say hello to BOMBAE trimmers for smooth, silky skin without all the fuss. They reduce the burden that comes with traditional hair removal methods and make grooming quick, easy, and hassle-free. Touch up your bikini line, shape your eyebrows, and tackle facial hair effortlessly.
      </p>
      <h2>Shop Bombae Trimmers</h2>
      <a href="https://mybombae.in/products/fuzzoff-sensitive-areas-trimmer">
        <h3>6-in-1 Sensitive Areas Trimmer | Fuzz Off</h3>
      </a>
      <p>Shape your eyebrows and remove hair from upper lips, chin, peach fuzz, bikini, and underarms painlessly. Gentle for every skin type. Works like magic anytime, anywhere, even in water. Use it in the shower or carry it around in your travel bag. One tool for many things. In the box you get 1 precision styler head for face and eyebrows, 1 trimmer head for bikini and underarms, 2 styler combs for length-based styling, 1 cleaning brush, 1 AA alkaline battery, and a pouch to carry it all everywhere. We are so sure about this trimmer that you get 1 YEAR WARRANTY - no questions asked.</p>
      <a href="https://mybombae.in/products/eyebrow-and-face-trimmer-magica">
        <h3>4-in-1 Facial Hair Trimmer | Fuzz Off</h3>
      </a>
      <p>Delicate and gentle on all skin types. The Fuzz Off Facial hair trimmer helps you achieve smooth and glowing skin with no nicks, no cuts. Designed to shape your eyebrows and shave upper lip hair, chin hair, and peach fuzz. A travel-friendly trimmer that can easily fit in your pouch, so you get a smooth finish anytime, anywhere. In the box, you get 1 precision trimmer head for eyebrows, eyebrow combs, a cleaning brush, and one AAA alkaline battery. We are so sure about this trimmer that you get 1 YEAR WARRANTY - no questions asked.
      </p>
      <h2>Frequently Asked Questions</h2>
      <ul>
        <li>Q. How do I get started if I am new to trimming?<br>

          A. It's super simple to get started with Bombae trimmers. Get 100% smooth trims in just three easy steps.<br>
          1. Attach the desired head and turn it clockwise. Depending on the area you want to trim, attach the facial trimmer head or the precision head<br>
          2. Slide the button upwards to turn on the trimmer. Trim it out with short strokes<br>
          3. Soothe skin with a
          <a href="https://mybombae.in/products/after-shave-soothing-gel-lavender-scented-moisturizing-formula-for-women">Post-Shave Balm or Lotion</a><br></li>
        <li>Q. How often can I use it?<br>
          A. As often as you want! The Bombae
          <a href="https://mybombae.in/pages/fuzzoff">Trimmer for Women</a>
          removes even the shortest hair.</li>
        <li>
          Q. On what part of my body can I use it?<br>
          A. The Fuzz Off trimmer for sensitive areas is suitable for eyebrows, upper lip, chin, peach fuzz, underarms, and bikini area. The Fuzz Off trimmer for facial hair is for eyebrows, upper lip, chin, and peach fuzz. Both the Bombae trimmers for women are portable and battery operated
        </li>
        <li>
          Q. Is there any warranty on this product?<br>
          A. Yes, our trimmers come with a 1-year warranty.
        </li>
        <li>
          Q. How long does the battery last?<br>
          A. One session has a runtime of 1.5 hours. After the battery is drained, you can replace it with an AAA alkaline battery.
        </li>
      </ul>
    </div>
    <p class="read-lesss" style="display:none">Read Less</p>

  {% endif %}
</div>


<script>
  $(document).ready(function() {
    $('.read-moree').on('click', function() {
      $('.hidden-content-cat').slideDown();
      $(this).hide();
      $('.read-lesss').show();
    });

    $('.read-lesss').on('click', function() {
      $('.hidden-content-cat').slideUp();
      $(this).hide();
      $('.read-moree').show();
    });
  });
</script>
