<style>
  .hidden-content-cat {
    display: none;
  }
  .nt_se_template--15836393341123__dea3c115-48c5-4ec9-929c-06dcf49ddafb.nt_full {
    border-top: 1px solid #ddd;
  }
  .seo-content-cat {
    max-width: 100%;
    width: 1350px;
    margin: 0 auto;
    padding: 20px 0;
  }
  .seo-content-cat h1 {
    text-align: left;
    padding-bottom: 10px;
    font-size: 25px;
  }
  .seo-content-cat h3 {
    font-size: 18px;
    margin-top: -12px;
  }

  p.read-moree {
    font-size: 15px;
    font-weight: 800;
    color: #6b24b2;
  }
  .seo-content-cat h1 {
    text-align: left;
    padding-bottom: 10px;
    font-size: 25px;
  }
  @media(max-width:450px) {
    .seo-content-cat {
      padding: 10px;
    }
    .hidden-content-cat {
      padding: 10px;
      margin-top: -29px;
    }
    p.read-lesss {
      margin-left: 10px;
      font-size: 16px;
      margin-top: -9px;
      font-weight: 800;
    }
  }
</style>
{% if collection.url contains 'face' %}
  <div class="seo-content-cat">
    <h1>Bombae Face Care</h1>
    <p>Face care products are essential in a woman's journey to self-confidence and self-expression. Taking care of your skin is not just about vanity, it's about cherishing the incredible woman you are. It isn't just about maintaining a glowing appearance. It's about empowering your true self and embracing your natural beauty at every stage of life. Which is why, the Bombae face care range comes into picture.</p>
    <h3>Designed with your skin in mind</h3>
    <p class="read-moree">Read More</p>
  </div>

  <div class="hidden-content-cat">
    <ul>
      Here’s a step-by-step face care regimen you need
      <li>Step 1: Cleanse your face with Vitamin C+ Face Wash: Wash away the dirt, dust, sebum, and other impurities from the skin. Add a boost of freshness and radiance on your skin instantly. It rejuvenates skin and restores collagen. At the same time it heals the skin and reduces acne. The best part, it is dermatologically tested to suit all skin types.</li>
      <li>Step 2: Prepare you skin with the Bombae Aloe Turmeric Gel: Use it as a base before using a face razor on your face for a smooth glide. Aloe vera has healing properties. Turmeric helps brighten the skin. All this together adds natural glow to the skin.</li>
      <li>Step 3: Time to Glide with our Bombae Face Razors: Remove dead skin cells, fine hair and debris on your face with our Biodegradable face razor or Precision Face Razor of your choice. No nicks, no cuts, just a smooth shaving experience. Equipped with High-Precision blades with a convenient anti-slip grip.</li>
      <li>Step 4: Moisturise post hair hair removal with Bombae Aloe Turmeric Gel:Soothe your skin with a post Aloe Turmeric gel to restore the moisture lost during the hair removal process. The aloe vera has healing properties while turmeric helps brighten the skin. All this together adds natural glow to the skin.</li>
      <li>Step 5: For your last minute plans use 4-in-1 Facial Hair Trimmer A travel friendly trimmer for your eyebrow, upper lip, chin and peach fuzz. Use it for a smooth finish anytime, anywhere.Here’s why you should get it today:No nicks, no cuts just smooth shaving experience. Instantly smooth skin. Super gentle on skin of all types.</li>
    </ul>
    <ul>Frequently Asked Questions
      <li>Q. How many times in a day can I use vitamin C+ face wash ?
        A. We recommend using the face wash two times a day i.e. morning and night.</li>
      <li>Q. Does hair grow back thicker post shaving?
        A. It is not true that shaving makes your hair grow back thicker. Shaving has no impact on hair growth. Unlike waxing which pulls hair from the roots, a razor cuts the hair from the middle of the growth, and thus it feels like the hair is growing sharper and thicker but it is not the case.</li>
      <li>Q. Which one is better for removing facial hair: a trimmer or a razor?
        A. Ideally both of them serve a different purpose and they are equally effective and designed to minimise the chances of nicks and cuts. For the days when you need a clean look quickly, a trimmer comes in handy while a razor can give you much smoother hair removal experience.
      </li>
    </ul>
  </div>
  <p class="read-lesss" style="display:none">Read less</p>
{% endif %}

<script>
  $(document).ready(function() {
    $('.read-moree').on('click', function() {
      $('.hidden-content-cat').slideDown();
      $(this).hide();
      $('.read-lesss').show();
    });

    $('.read-lesss').on('click', function() {
      $('.hidden-content-cat').slideUp();
      $(this).hide();
      $('.read-moree').show();
    });
  });
</script>
