<style>
  /*.main-rewards-container {
    background-image: url('https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Group_2.png?v=1693472229');
    background-size: 100%;
    background-repeat: no-repeat;
  }*/
  .cont-main-image img {
    width: 100%;
    padding: 15px
  }
  .rewards-heading h2 {
    line-height: 25px;
    font-size: 22px;
    font-weight: 300;
  }
  .rewards-heading {
    max-width: 100%;
    width: 300px;
    margin: -8px auto 0;
  }
  span.purp-strp {
    font-weight: 500;
    background: #6b24b2;
    color: #fff;
    padding: 4px 10px;
    line-height: 39px;
    border-radius: 7px;
  }
  .form-items {
    max-width: 100%;
    width: 300px;
    margin: 0 auto;
}
</style>
<div class="main-rewards-container">
  <div class="rewards-cont">
    <div class="cont-main-image">
      <h2><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Group_95.png?v=1692862362" alt="rewards banner"></h2>
    </div>
  </div>
  <div class="rewards-heading">
    <h2>Authenticate your<br> product and<br><span class="purp-strp">get a reward</span>
    </h2>
  </div>
  <div class="rewards-form">
    <div class="form-items">
      <div class="name">
        <label for="" class="name">NAME</label>
        <input type="text" class="name" placeholder="Enter your name"></input>
      </div>
      <div class="email">
        <label for="" class="email">EMAIL</label>
        <input type="text" class="email"></input>
      </div>
    </div>
  </div>
</div>
