<style>
  #91499135171 #nt_content {
    background-image: url('https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Group_94.png?v=1692862363');
  }
</style>
<div class="main-rewards-container">
  <div class="rewards-cont">
    <div class="cont-main-image">
      <h2><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Group_95.png?v=1692862362" alt="rewards banner"></h2>
    </div>
  </div>
</div>
